.abtMe {
    margin-top: 50px;
    margin-left: 11.5%;
    text-decoration: underline;
    color: black;
    font-weight: 900;
}

#quoteCoffee {
    position: absolute;
    margin-left: 6%;
    margin-top: -1%;
}

.aboutMeContainer {
    background-color: cadetblue !important;
}
.myName {
    margin-left: 40px;
}

.avatar {
    height: 200px;
    width: 200px;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 3%;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 20px 10px 50px #114b5f;
}

.branch {
    position: absolute;
    height: 400px;
    margin-left: 25%;
    margin-top: -6%;
}

.paragraph {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    margin-bottom:5%;
    margin-top: 2%;
}

@media (max-width: 1024px) {
    .branch {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .branch {
        display: none;
    }
    .avatar {
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .abtMe {
        margin-left: 36%;
        margin-bottom: 25px;
    }

    #quoteCoffee {

        display: none;
    }
}

@media screen and (max-width: 425px) {
    .abtMe {
        margin-left: 29%;
        margin-bottom: 50px;
    }

    .avatar {
        margin-left: 17%;
        margin-bottom: 50px;
    }
    .paragraph {
        margin-left: 7%;
        margin-right: 7%;
    }

    #quoteCoffee {
        display: none;
    }

    
}