#think {
    position: absolute;
    margin-left: 60%;
    width: 20%;
}
#reach{
    margin-left: 16%;
    margin-top: 2%;
    margin-bottom: 2%;
}

textarea {
    resize: none;
    background-color: antiquewhite;
}

input {
    background-color: antiquewhite;
}

button {
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
}

#contact{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 10%;
   
}

