.navbar {
    background-color: antiquewhite !important;
    justify-content: end;
    padding: 40px;
    font-size: 30px;
    justify-content: space-between;
}

.nav-item {
    margin-left: 40px;
}

.myName {
font-weight: 900;
font-size: 60px;
text-align: left !important;
}

.nav-link{
    text-align: center;
    color: #114b5f !important;
    transition: all .2s ease-in-out;

}

.nav-link:hover {
    transform: scale(1.5); 
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .myName {
        text-align: center !important;
        margin-bottom: 20px;
    }
    #nav {
        display: flex !important;
    }
    .navbar {
        justify-content: center !important;
        background-color: cadetblue !important;
    }
}
