
.card {
    margin-bottom: 15%;
    
}

.row {
    margin-top: 5%;
    margin-left: 10%;
}

@media screen and (max-width: 425px) {
    .card {
        width: 100% !important;
        
    }
    .portBox {
        
        margin-right: 10%;
    }
}