#portLinks {
    display: flex;
    justify-content: center;
}

a {
    margin-left: 25px;
    margin-right: 25px;
}

#projectTitle {
    text-align: center;
    margin-top: 5%;
    text-decoration:underline;
    font-size: 50px;
    font-weight: 900;
}


h3 {
  width: 50%;
  padding-top: 10px;
}

.card{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-top: 5%;
    font-size: 20px;
    animation: cardPort 3s ease;
}

@keyframes cardPort {
    0% {
        transform: translateX(-100%) rotate(0deg);
        
      }
      100% {
        transform: translateX(0) rotate(360deg);
      }
}


.card:hover{
    box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px ;
}

#paragraph {
border-top: 2px solid cadetblue;
}

@media screen and (max-width: 500px) {
    .portLink {
        display: none;
    }

    .card {
        font-size: 16px;
    }
}