#portLinks {
    display: flex;
    justify-content: center;
}

a {
    margin-left: 25px;
    margin-right: 25px;
}

#formValidate{
    position: absolute;
    margin-top: 23%;
    margin-left: 23%
}

h3 {
  width: 50%;
  padding-top: 10px;
}

.card{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}

.card:hover{
    box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px ;
}

#paragraph {
border-top: 2px solid cadetblue;
}