#resumeBox {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 10%;
    margin-top: 8%;
}

.cardList {
    background-color: antiquewhite;
    padding: 35px;
    border-radius:5%;
    margin-left: 25px;
    transition: width 2s, height 2s, transform 2s;
    animation: card 1s ease;
    /* transition: all .2s ease-in-out; */
}

@keyframes card {
    0% {
        transform: translateX(-100%) rotate(0deg);
        
      }
      100% {
        transform: translateX(0) rotate(360deg);
      }
}

.cardList:hover {
    transform: scale(1.1); 

}

.cardTitle {
    border-bottom: 2px solid;
    margin-bottom: 5%;
}

.cardUl {
    font-size: 20px;
    
}

#resumeQuote {
    position: absolute;
    margin-top: -5%;
    margin-left: 3%;
    animation: reach1 1s ease;
}

@media screen and (max-width: 500px) {
    #resumeBox {
        flex-direction: column;
        margin-top: 30%;
    } 

    #git {
        margin-left: 25px;
        position: absolute;
    }

    #linkedin {
        margin-left: 140px;
        position: absolute;
    }

    #gist {
        margin-left: 250px;
        position: absolute;
    }
    
    .router{
        position: absolute;
    }

    #resumeQuote {
        margin-left: 7%;
        margin-top: -25%;
    }

    .cardList {
        margin-bottom: 30px;
        margin-top: 100px;
    }
    body {
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 425px){

}